.header{
    z-index: 500;
    height: 85px;
    width: 100%;
    background-color: #e6f2ff;
    border:1px solid #007bff;
}

.header h1{
    font-size: 40px;
    color: #285a79;
}

.rest h1 { 
		font-family: 'Metrophobic', Arial, serif; 
		font-weight: 700;
		font-color: #0056b3;
}

.rest h2 {
      font-family: 'Metrophobic', Arial, serif; 
      font-weight: 400; 
      font-color: #009933;
}

.map {
  width: 90%;
  height: 500px;
  background-color: lightblue;
}

