.header{
    height: 60px;
    width: 95%;
    background-color: #e6f2ff;
    border:1px solid #007bff;
}

.page-header h1{
    font-size: 40px;
    color: #285a79;
    width: 90%;
}

.jumbotron {
      font-family:'Raleway', sans-serif;
    }

.jumbotron h1 { 
		font-family: 'Metrophobic', Arial, serif; 
		font-weight: 700;
		font-color: #0056b3;
}

.jumbotron h2 {
      font-family: 'Metrophobic', Arial, serif; 
      font-weight: 400; 
      font-color: #009933;
}

#map {
  width: 100%;
  height: 900px;
}

.menu {
      right: 10px;
      width: 400px;
      background: transparent;
      z-index: 10;
      float: right;
    }

.button{
  background-color: #008B8B;
}

.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), 
  rgba(66, 133, 244,.6), rgba(0,0,0,0));
}