.header{
    z-index: 500;
    height: 85px;
    width: 90%;
    background-color: lightblue;
    border:1px solid #285a79;
    font-color: red;
 }

.header h1{
    font-size: 20px;
    color: #285a79;
}

.jumbotron h1 { 
		font-family: 'Metrophobic', Arial, serif; 
		font-weight: 700;
		font-color: brown;
}

.jumbotron h2 {
      font-family: 'Metrophobic', Arial, serif; 
      font-weight: 400; 
      font-color: green;
}

.map {
  width: 90%;
  height: 500px;
  background-color: lightblue;
}

